li {
    list-style-type: none;
}

ul {
    padding: 0;
}

main {
    margin-left: 7em;
    margin-bottom: 1em;
}

h1 {
    font-family: var(--title);
    font-size: 2.2em;
    color: var(--accent);
    margin: 0;
    margin-top: 6vh;
}

h1+p {
    font-size: 1.2em;
    color: var(--secondary);
    margin-top: 1.5em;
    font-size: 1em;
    text-align: left;
    margin-bottom: 5vh;
}

.btnAdd {
    padding: 5px 10px;
}

.btnAdd:hover {
    color: var(--accent);
    cursor: pointer;
}

#name-cocktail,
#clue {
    text-align: center;
    font-family: Megrim;
    font-size: 2em;
    color: var(--accent);
    margin: 0;
}

#clue {
    background-color: var(--primary);
    border: none;
    padding: 0;
    cursor: pointer;
    padding-left: 0.5em;
}

#imgCocktail {
    max-width: 20%;
    position: absolute;
}

.cocktail {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hr-game {
    border: 0.8px solid var(--accent);
    width: 50%;
}


#start {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    color: black;
    background-color: var(--accent);
    font-family: Lora;
    font-size: 18px;
    margin-top: 1em;
}

.start-div {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1em;
}

.game {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

#arrow {
    margin: 20px;
}

.user-action {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.left,
.right {
    height: auto;
    width: 30%;
    padding: 5px;
    margin: 10px;
    color: var(--secondary);
    min-width: 300px;
}

#recipe {
    background-color: #1C1C1C;
}

#recipe>li {
    padding-left: 15px;
    padding-top: 5px;
}

#listIngredients>li {
    padding: 5px;
}



#listIngredients {
    display: flex;
    flex-wrap: wrap;
}

.hr-list {
    border: 0.5px solid var(--secondary);
    margin-left: 0;
    width: 70%;
}

.btnAdd {
    text-decoration: none;
    cursor: pointer;
    color: var(--secondary);
    font-size: 18px;
    font-family: Arsenal;
    background-color: var(--primary);

}

#btn-validate {
    font-family: Megrim;
    background-color: var(--accent);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    margin-right: 60px;
}

/* ------ MOBILE ------ */
@media screen and (max-width: 650px) {
    main {
        margin-right: 1em;
        margin-left: 1em;
    }

    .instruction-game, h1+p {
        text-align: center;
    }

    .title-guess {
        font-size: 1.6em;
    }

    .left, .right {
        width: 100%;
    }

    .btnAdd {
        font-size: 1em;
    }

    #arrow {
        display: none;
    }
}