h1 {
    text-align: left;
    color: var(--accent);
    font-family: var(--title);
    font-size: 60px;
}

li {
    list-style-type: none;
    text-align: left;
    margin: 5px 2px;
}

ul {
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    font-size: 2em;
    color: #E6E1CE;
    flex-wrap: wrap;
    margin-left: 2em;
}

.logo {
    font-family: var(--title);
    color: var(--accent);
    font-size: 2.5em;
    margin: 0;
}

.title-guess {
    font-family: var(--title);
    font-size: 2.5em;
    color: var(--accent);
}

.presentation {
    font-size: 1.3em;
    color: var(--secondary);
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.hr-intro {
    border: 0.8px solid var(--accent);
    width: 100%;
    margin: 0;
}

.btnAdd {
    padding: 5px 10px;
}

.btnAdd:hover {
    color: var(--accent);
    cursor: pointer;
}

.instruction {
    width: 100%;
}

#name-cocktail,
#clue {
    text-align: center;
    font-family: Megrim;
    font-size: 2em;
    color: var(--accent);
    margin: 0;
}

#clue {
    background-color: var(--primary);
    border: none;
    padding: 0;
    cursor: pointer;
    padding-left: 0.5em;
}

#imgCocktail {
    max-width: 10%;
    height: auto;
    margin: 0;
    position: absolute;
}

.cocktail {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hr-game {
    border: 0.8px solid var(--accent);
    width: 50%;
}


#start {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    color: black;
    background-color: var(--accent);
}

.startDiv {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1em;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.user-action {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.left,
.right {
    height: auto;
    width: 40%;
    padding: 5px;
    margin: 10px;
    color: var(--secondary);
    min-width : 300px;
}

#listIngredients {
    display: flex;
    flex-wrap: wrap;
}

.hr-list {
    border: 0.5px solid var(--secondary);
    margin-left: 0;
    width: 70%;
}

.btnAdd {
    text-decoration: none;
    cursor: pointer;
    color: var(--secondary);
    font-size: 18px;
    font-family: Arsenal;
    background-color: var(--primary);
}

#btnValidate {
    font-family: Megrim;
    background-color: var(--accent);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}