@font-face {
    font-family: Megrim;
    src: url(../assets/fonts/Megrim/Megrim-Regular.ttf);
}

@font-face {
    font-family: Arsenal;
    src: url(../assets/fonts/Arsenal/Arsenal-Regular.ttf);
}

body {
    background-color: black;
    font-family: Arsenal, Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 18px;
}

h1 {
    text-align: left;
    color: #BF9B30;
    font-family: Megrim;
    font-size: 60px;
}

li {
    list-style-type: none;
    text-align: left;
    margin: 5px 2px;
}

ul {
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    font-size: 2em;
    font-family: Arsenal, Georgia, 'Times New Roman', Times, serif;
    color: #E6E1CE;
    flex-wrap: wrap;
    margin-left: 2em;
}

.logo {
    font-family: Megrim;
    color: #BF9B30;
    font-size: 2.5em;
    margin: 0;
}

.title-guess {
    font-family: Megrim;
    font-size: 2.5em;
    color: #BF9B30;
}

.presentation {
    font-family: Arsenal;
    font-size: 1.3em;
    color: #E6E1CE;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.hr-intro {
    border: 0.8px solid #BF9B30;
    width: 100%;
    margin: 0;
}

.btnAdd {
    padding: 5px 10px;
    font-family: Arsenal;
}

.btnAdd:hover {
    color: #BF9B30;
    cursor: pointer;
}

#name-cocktail,
#clue {
    text-align: center;
    font-family: Megrim;
    font-size: 2em;
    color: #BF9B30;
    margin: 0;
}

#clue {
    background-color: #000000;
    border: none;
    padding: 0;
    cursor: pointer;
    padding-left: 0.5em;
}

#imgCocktail {
    max-width: 10%;
    height: auto;
    margin: 0;
}

.cocktail {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hr-game {
    border: 0.8px solid #BF9B30;
    width: 50%;
}

.instruction-game {
    margin-left: 8em;
}

#start {
    border: none;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: rgb(63, 62, 62);
    color: white;
    font-size: 18px;
    font-family: Arsenal;
    background-color: #BF9B30;
}

.startDiv {
    display: flex;
    justify-content: center;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.user-action {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left : 7.5em;
}

.left,
.right {
    height: auto;
    width: 35%;
    padding: 5px;
    margin: 10px;
    color: #E6E1CE;
}

.right {
    background-color: grey;
}

#listIngredients {
    display: flex;
    flex-wrap: wrap;
}

.hr-list {
    border: 0.5px solid #ffffff;
    left: 0;
}

.btnAdd {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-family: Arsenal;
    background-color: #000000;
}

#btnValidate {
    font-family: Megrim;
    background-color: #BF9B30;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
}