@font-face {
    font-family: Megrim;
    src: url(./assets/fonts/Megrim/Megrim-Regular.ttf);
}

@font-face {
    font-family: Arsenal;
    src: url(./assets/fonts/Arsenal/Arsenal-Regular.ttf);
}

body {
    background-color: black;
    font-family: Arsenal, Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 18px;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    color: #BF9B30;
    font-family: Megrim;
    font-size: 60px;
}

li {
    list-style-type: none;
    text-align: left;
}

li:hover {
    color: #BF9B30;
    cursor: pointer;
}

#presentationGame {
    text-align: center;
}

#nameCocktail {
    text-align: center;
    font-style: italic;
}

#start {
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(63, 62, 62);
    color: white;
    font-size: 18px;
    font-family: Arsenal;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.left,
.right {
    height: 380px;
    width: 40%;
    padding: 5px;
    margin: 10px;
    background-color: rgb(63, 62, 62);
    text-align: center;
}

.play, .instruction {
    width: 100%;
    text-align: center;
    width: 100%;
}

.instruction {
    margin-bottom: 20px;
}

.btnAdd {
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(63, 62, 62);
    color: white;
    font-size: 18px;
    font-family: Arsenal;
}

#btnValidate {
    font-family: Megrim;
    background-color: #BF9B30;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
}