@font-face {
    font-family: Megrim;
    src: url(./assets/fonts/Megrim/Megrim-Regular.ttf);
}

@font-face {
    font-family: Arsenal;
    src: url(./assets/fonts/Arsenal/Arsenal-Regular.ttf);
}

body {
    background-color: black;
    font-family: Arsenal, Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 18px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #BF9B30;
    font-family: Megrim;
    font-size: 4em;
    display: block;

    margin: 0;
}

.calibrage {
    position: relative;
    bottom: 1.3em;
}

.regle{
    height: 3px;
    width: 90%;

    background-color: #BF9B30;
    border: 0px solid #000000;
    margin-left: auto; 
    margin-right: 0;
}

.home-txt {
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 90vw;
    height: 25vh;
    position: relative;
    top: 60px;
}

.dessus {
    /* border: 2px solid red; */
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.dessous {
    /* border: 2px solid green; */
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block1,.block2 {
    display: block;
    width: 30%;
    height: 65%;

    background-color: black;
    padding: 14px 28px;
    font-size: 16px;
    font-family: Arsenal, Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    text-align: center;
}

.block1 {
    border: 3px solid #BF9B30;
    color:#BF9B30;
}

.block2 {
    border: 3px solid white;
    color:white;
}
